body 
{
    margin: 0;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #6c1b86;
}

#title 
{
    font-size: 65px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#loginDiv
{
    width: 400px;
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #FFFFFF;
    
}

#inner-title{
    text-align: center;
    font-size: 40px;
    position: relative;
    font-family: 'Monaco', monospace;
    top: -5px;
}

#inner-title2{
    text-align: center;
    font-size: 20px;
    position: relative;
    font-family: 'Georgoa', serif;
    top: 5px;
}

#text_group{
    margin-bottom: 1rem;
}

.headingMessage{
    background: white;
    font-size: 65px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#firstName{
    display: block;
    width: 100%;
    padding: 0.90rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    margin-block: 10px;
    font-size: 0.90rem;
}

#lastName{
    display: block;
    width: 100%;
    padding: 0.90rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    margin-block: 10px;
    font-size: 0.90rem;
}

#loginName{
    display: block;
    width: 100%;
    padding: 0.90rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    border-spacing: 10px;
    margin-block: 10px;
    font-size: 0.90rem;
}

#loginPassword{
    display: block;
    width: 100%;
    padding: 0.90rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
    margin-block: 10px;
    font-size: 0.90rem;
}

#firstName:focus{
    border-color: var(--color-primary);
    background: #ffffff;
    margin-bottom: 7px;
}

#lastName:focus{
    border-color: var(--color-primary);
    background: #ffffff;
    margin-bottom: 7px;
}

#loginName:focus{
    border-color: var(--color-primary);
    background: #ffffff;
    margin-bottom: 7px;
}

#loginPassword:focus{
    border-color: var(--color-primary);
    background: #ffffff;
    margin-bottom: 7px;
}

#loginButton{
    font: 500 1rem 'Quicksand', sans-serif;
}

#loginButton{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #FFFFFF;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: #6c1b86;
}

#loginButton:hover{
    background: #3e0c4f;
}

#loginButton:active{
    transform: scale(0.98);
}

#linkCreateAccount{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

#linkCreateAccount:hover{
    text-decoration: underline;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #D7CDC1;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 25px;
    background-color: #D7CDC1;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

/*input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}*/

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

.searchBarDiv{
    width: 150%;
    position: relative;
    display: flex;
    text-align: center;
}
#searchBar{
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.wrap{
    width: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
